<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

# My Jupyter Notebook on IBM Watson Studio

**Alena Dudarenok**
<br>
Data Scientist

*I am interested in data science because it is future and helps to understand the data and make it useful!*

### Code below calculates the sum of 1 and 1

In [1]:
1 + 1

2

<h3>Horizontal rule</h3>
<hr>
<h3>Bulleted list</h3>
<ul>
  <li>Apple</li>
  <li>Banana</li>
  <li>Orange</li>
</ul>
<h3>Numbered list</h3>
<ol>
  <li>Apple</li>
  <li>Banana</li>
  <li>Orange</li>
</ol>
<h3>Table</h3>
<table>
  <tr>
    <th>col1</th>
    <th>col2</th>
    <th>col3</th>
  </tr>
  <tr>
    <td>val1</td>
    <td>val2</td>
    <td>val3</td>
  </tr>
  <tr>
    <td>val4</td>
    <td>val5</td>
    <td>val6</td>
  </tr>
</table>
<h3>Hyperlink</h3>
<p><a href="https://www.google.com/">Google</a></p>
<h3>Image</h3>
<img src="https://img.freepik.com/vektoren-kostenlos/fruehlingsblumensammlung_23-2148853687.jpg" alt="Flowers">